# Object files
*.o
obj

# Executables
megaphone
phonebook
accounts
zombie
zombieHorde
brain
unnecessary_violence
replace_strings
harl
harlFilter
fixed00
fixed01
fixed02
fixedBSP
claptrap
scavtrap
fragtrap
diamondtrap
animalSounds
animalBrains
abstractAnimal
finalFantasyXLII