# Object files
*.o
obj

## Executables

# CPP00
megaphone
phonebook
accounts

# CPP01
zombie
zombieHorde
brain
unnecessary_violence
replace_strings
harl
harlFilter

# CPP02
fixed00
fixed01
fixed02
fixedBSP

# CPP03
claptrap
scavtrap
fragtrap
diamondtrap

# CPP04
animalSounds
animalBrains
abstractAnimal
finalFantasyXLII

# CPP05
bureaucrat
form
executeForms
intern

# CPP06
convert
serializer
based

# CPP07
templates
iter
class_template

# CPP08
easyfind
span
mutantStack

# CPP09
btc
RPN
PmergeMe